@import "base";
//@import "variables";

.c-button {
  color: $baseColor2;
  font-weight: 700;
  width: $toolbarButtonWidth;
  height: $toolbarButtonHeight;
  text-shadow: 0px 0px 0px #000000;
}

.inner-button {
  color: $baseColor2;
  font-weight: 700;
  width: $innerButtonWidth;
  height: $innerButtonHeight;
  padding: $innerButtonPadding !important;
  font-size: $innerButtonFontSize !important;;
}

.z-button {
  position: relative;
  padding: 3px 12px;
  border-radius: 0px;
  min-height: 0;
}

.z-button:active {
  top: 1px;
  left: 1px;
}

.z-button,
.z-button:hover,
.z-button:focus,
.z-button:active {
  background: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.z-button > [class*="z-icon-"] {
  display: inline;
  margin-right: 4px;
}

.z-button > .icon-only[class*="z-icon-"] {
  margin: 0;
  vertical-align: middle;
  text-align: center;
  padding: 0;
}

.z-combobox-button, .z-bandbox-button, .z-datebox-button, .z-timebox-button, .z-spinner-button, .z-doublespinner-button {
  @include border-radius($baseBorderRadius);
  color: $toolbarButtonFontSize;
  background-color: $baseBgColor3 !important;
}

//$btnTypes : (z-combobox-button,z-bandbox-button,z-datebox-button,z-timebox-button,z-spinner-button,z-doublespinner-button);
//@each $btnType in $btnTypes{
//  .#{$btnType}{
//    border-radius: 2px;
//    color: $toolbarButtonFontColor;
//    background-color: $defaultBackgroundColor3 !important;
//  }
//}
//.btn {
//  color: $baseColor2 !important;
//}

.btn-primary {
  @include button-style($btnPrimaryBgColor, $btnPrimaryBorderColor, $btnPrimaryHoverBgColor, $btnPrimaryHoverBorderColor);
}

.btn-info {
  @include button-style($btnInfoBgColor, $btnInfoBorderColor, $btnInfoHoverBgColor, $btnInfoHoverBorderColor);
}

.btn-success {
  @include button-style($btnSuccessBgColor, $btnSuccessBorderColor, $btnSuccessHoverBgColor, $btnSuccessHoverBorderColor)
}

.btn-warning {
  @include button-style($btnWarningBgColor, $btnWarningBorderColor, $btnWarningHoverBgColor, $btnWarningHoverBorderColor);
}

.btn-danger {
  @include button-style($btnDangerBgColor, $btnDangerBorderColor, $btnDangerHoverBgColor, $btnDangerHoverBorderColor);
}

.btn-inverse {
  @include button-style($btnInverseBgColor, $btnInverseBorderColor, $btnInverseHoverBgColor, $btnInverseHoverBorderColor);
}

.btn-pink {
  @include button-style($btnPinkBgColor, $btnPinkBorderColor, $btnPinkHoverBgColor, $btnPinkHoverBorderColor);
}

.btn-yellow {
  color: #996633 !important;
  text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.4) !important;
  @include button-style($btnYellowBgColor, $btnYellowBorderColor, $btnYellowHoverBgColor, $btnYellowHoverBorderColor);
}